$white: #FFFFFF;
$black: #000000;

.bg-white{
  background:$white!important;
}

.lg-none{
  display: block;
  @include media-breakpoint-down(lg){
    display: none;
  }
}
.lg-block{
  display: none;
  @include media-breakpoint-down(lg){
    display: block;
  }
}

.md-none{
  display: block;
  @include media-breakpoint-down(md){
    display: none;
  }
}
.md-block{
  display: none;
  @include media-breakpoint-down(md){
    display: block;
  }
}
.sm-none{
  display: block;
  @include media-breakpoint-down(sm){
    display: none;
  }
}
.sm-block{
  display: none;
  @include media-breakpoint-down(sm){
    display: block;
  }
}

.xs-none{
  display: block;
  @include media-breakpoint-down(xs){
    display: none;
  }
}
.xs-block{
  display: none;
  @include media-breakpoint-down(xs){
    display: block;
  }
}
