/*
 js style
 */
/*
ハンバーガーメニュー
 */
.js-offcanvas-btn {
}

.js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar {
  @include link_color(black) {
    text-decoration: none;
    display: block;
    width: 100%;
  }
  ul {
    margin: 0;
    padding: 2rem;
    li {
    }
  }
}


/*
slick
 */

// initialize前は非表示にする。
.js-slick {
	opacity: 0;

	&.slick-initialized {
		opacity: 1;
	}
}
