.c-menu {

}

.c-menu__pc {
	@extend .d-none;
	@extend .d-lg-block;

	ul {
		@extend .pl-0;
		@extend .mb-0;
		@extend .pl-0;
		@extend .list-unstyled;
		@extend .d-flex;
		@extend .flex-wrap;
		@extend .justify-content-between;

		a {
			@include link_color($black);
		}
	}

}

.c-menu__sp {
	&-logo {
		max-width: 180px;
		@extend .mb-5;
	}

	&-inner {
		background-color: $black;
		@extend .text-center;
		@extend .py-3;

		ul {
			@extend .pl-0;
			@extend .mb-0;
			@extend .pl-0;
			@extend .list-unstyled;

			li {
				@extend .mb-5;

				span {
					@extend .d-block;
				}
			}

			a {
				@include link_color($white);
			}
		}
	}
}

.drawer-open {
	.drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
		background-color: $white;
	}
}
