/*
mixinをまとめています。
 */

@mixin ie_only {
  @media all and (-ms-high-contrast: none) {
    *::-ms-backdrop, & {
      @content;
    }
  }
}
/* stylelint-disable */
@mixin safari_only{
  _::-webkit-full-page-media, _:future, :root & {
    @content;
  }
}
/* stylelint-enable */

@mixin link_color($color) {
  a, a:visited, a:hover, a:focus, a:active {
    color: $color;
    @content;
  }
}

@mixin link_color__deco-none($color) {
	a, a:visited, a:hover, a:focus, a:active {
		color: $color;
		@content;
	}

	a:hover{
		text-decoration: none;
	}
}


/*
リンクカラー
 */

// a 以下に指定することを想定
@mixin link_color($color) {
  &, &:visited, &:hover, &:focus, &:active {
    color: $color;
    @content;
  }
}

/*
Flex box
 */

// ieでのカラム落ちを防止するためにmax-widthを指定
@mixin flex-basis($size) {
  max-width: $size;
  flex-basis: $size;
}

/*
object-fit
 */

// object-fit-imagesの指定も行えるようにmixin化
@mixin object-fit($properties) {
  object-fit: $properties;
  /* stylelint-disable */
  font-family: 'object-fit: #{$properties};';
  /* stylelint-enable */
}
