/*
 js style
 */
/*
ハンバーガーメニュー
 */
.js-offcanvas-btn {
}

.js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar {
  @include link_color(black) {
    text-decoration: none;
    display: block;
    width: 100%;
  }
  ul {
    margin: 0;
    padding: 2rem;
    li {
    }
  }
}

