/*---------------------------------
utility
---------------------------------*/
/*
font family
 */
.u-font-gothic {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif !important;
}

.u-font-mincho {
	font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
}

/*
margin / padding
 */
.u-mp-0 {
	@extend .m-0;
	@extend .p-0;
}

/*
size
 */

.u-max-width {
	max-width: $base-width;
}

/*
span color
 */

/*
bg color
 */

.u-bg-white {
	background-color: $white;
}

/*
text
 */

.u-white-nowrap{
	white-space: nowrap;
}

/*
link styles
 */

.u-link-block {
	@extend .d-block;
	@extend .w-100;
}

/*
display none properties
 */
@each $size in xs, sm, md, lg, xl {
	.u-hidden-#{$size}-up {
		@include media-breakpoint-up(#{$size}) {
			display: none !important;
		}
	}
	.u-hidden-#{$size}-down {
		@include media-breakpoint-down(#{$size}) {
			display: none !important;
		}
	}
}

/*
grid properties
 */
@each $size in xs, sm, md, lg, xl {
	@for $i from 1 through 12 {
		.u-col-#{$i} {
			flex-basis: 8.333333333% * $i;
			max-width: 8.333333333% * $i;
		}

		.u-col-#{$size}-#{$i} {
			@include media-breakpoint-up(#{$size}) {
				flex-basis: 8.333333333% * $i !important;
				max-width: 8.333333333% * $i !important;
			}
		}
	}
}

/*
icon size
 */

// icon size

@each $size in 30 {
	.u-icon-#{$size} {
		display: inline-block;
		width: #{$size}px;
		height: #{$size}px;
		// 文字に対して真ん中になるよう縦の位置を調整
		transform: translateY(-1px);
	}
}

