<html>
<head>
	<title>SVG symbols</title>
</head>
<body>
<style type="text/css">
	.symbols {
		display: flex;
		flex-wrap: wrap;
	}

	.symbol {
		flex-basis: 15%;
		text-align: center;
		font-size: 30px;
		padding:.5rem ;
	}

	.symbol-id {
		color: white;
		font-weight: bold;
		background: black;
		padding: 1rem;
	}
</style>

<%= inlineSvg %>
<h1 class='title'>SVG symbols</h1>
<article>
	<div class='symbols'>
		<% _.each(symbols, function(symbol) { %>
		<div class='symbol'>
			<svg>
				<use xlink:href="#<%= symbol.id %>"></use>
			</svg>
			<div class='symbol-id'><%= symbol.id %></div>
		</div>
		<% }); %>
	</div>
</article>

</body>
</html>
